.header {
  display: flex;
  align-items: center;
  height: 70px;
  background-color: #29354B;
}

.header__nav {
  max-width: 1440px;
  margin: 0 auto;
}

.header__nav_a {
  color: #fff;
  margin-right: 30px;
  text-decoration: none;
}