.seasons {
  display: flex;
  flex-direction: row;
  color: rgb(145, 145, 145);
  justify-content: center;
  margin: 0 auto;
  padding: 10px 200px 20px 200px;
  background-color: #222222;
  //background-color: #333338;
  //border-radius: 15px;
  //border-bottom-left-radius: 15px;
  //border-bottom-right-radius: 15px;
}

.seasons__nav {
  margin: 0 20px 0 20px;
  font-size: 20px;
}