.facts {
  max-width: 1440px;
  margin: 130px auto;
  background-color: #4C8891;
  padding: 30px 0 30px 0;
}

.facts__header {
  max-width: 1000px;
  margin: 0 auto;
  font-family: 'volkhovregular';
  color: #fff;
  font-size: 22px;
}
